######
# Example secrets file 
#  
# Copy this file to secrets.yaml
#
# Update any Red Hat Activation key details for registring 
# RHEL 8 or RHEL 9 systems
#

rh_org_id: "12345678"
rh_org_activationkey: "MY_ACTIVATION_KEY"

